@tailwind base;

@layer base {
  .no-tailwindcss-base,
  .no-tailwindcss-base *,
  .no-tailwindcss-base > * {
    font-size: revert;
    font-weight: revert;
    margin: revert;
    display: revert;
    vertical-align: revert;
    max-width: revert;
    height: revert;
    border-width: revert;
    border-style: revert;
    border-color: revert;
    outline: revert;
    list-style: revert;
    padding: revert;
  }

  .no-tailwindcss-base ul,
  .no-tailwindcss-base ol {
    list-style-position: outside;
    padding-left: 1.5em;
    margin: 1em 0;
  }

  .no-tailwindcss-base li {
    padding-left: 0.5em;
  }
}

@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Modern Black & White Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.active-nav {
  @apply text-white bg-primary-700 lg:bg-transparent lg:text-primary-700 dark:text-white;
}

.inactive-nav {
  @apply text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700;
}
